# Grading Files
cool/assignments/*/grading/**

# Assignment 2
cool/assignments/PA2J/AbstractSymbol.class
cool/assignments/PA2J/AbstractSymbol.java
cool/assignments/PA2J/AbstractTable.class
cool/assignments/PA2J/AbstractTable.java
cool/assignments/PA2J/BoolConst.class
cool/assignments/PA2J/BoolConst.java
cool/assignments/PA2J/CgenSupport.class
cool/assignments/PA2J/CgenSupport.java
cool/assignments/PA2J/CoolLexer.class
cool/assignments/PA2J/CoolLexer.java
cool/assignments/PA2J/Flags.class
cool/assignments/PA2J/Flags.java
cool/assignments/PA2J/IdSymbol.class
cool/assignments/PA2J/IdSymbol.java
cool/assignments/PA2J/IdTable.class
cool/assignments/PA2J/IdTable.java
cool/assignments/PA2J/IntSymbol.class
cool/assignments/PA2J/IntSymbol.java
cool/assignments/PA2J/IntTable.class
cool/assignments/PA2J/IntTable.java
cool/assignments/PA2J/Lexer.class
cool/assignments/PA2J/Lexer.java
cool/assignments/PA2J/README
cool/assignments/PA2J/StringSymbol.class
cool/assignments/PA2J/StringSymbol.java
cool/assignments/PA2J/StringTable.class
cool/assignments/PA2J/StringTable.java
cool/assignments/PA2J/TokenConstants.class
cool/assignments/PA2J/TokenConstants.java
cool/assignments/PA2J/Utilities.class
cool/assignments/PA2J/Utilities.java
cool/assignments/PA2J/cool.lex
cool/assignments/PA2J/lexer
cool/assignments/PA2J/test.cl
